%% -*- erlang -*-

{erl_opts, [debug_info,
            warnings_as_errors,
            warn_untyped_records]}.

{deps, [{lager, "1.0.0", {git, "https://github.com/basho/lager.git"}},
        {yamler, "1", {git, "https://github.com/superbobry/yamler.git"}},
        {z_validate, ".*", {git, "https://github.com/si14/z_validate.git"}},
        {parse_trans, ".*",
         {git, "https://github.com/esl/parse_trans.git",
          {tag, "661d1689e5"}}}]}.
